*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js

.env
.import

# Do not ignore any files under assets
!src/assets/**/*

# Ignore any files that start with "my-*"
src/**/my-*

# Ignore mac stuff
.DS_Store